#navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#lnk {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#homewrap{
    background-image: url(background.jpg);
    background-size: 100% auto;
    background-color: white;
}
#bio {
    max-width: 950px;
    min-width: 380px;
    font-size: 1.5em;
}
p::first-letter{
    font-size: 1.25;
}
@font-face {
    font-family: BebasNeue; /*a name to be used later*/
    src: url(BebasNeue.otf); /*URL to font*/
}
body {
    font-family: BebasNeue;
    background-color: yellow;
    /*max-width:1080px;
    min-width: 380px;*/ 
}
header{
    color: white;
    font-size: 2em;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -3px 0 #000,
      -1px 5px 0 #000,
       1px 1px 0 #000;
}
.vids{
    display: inline-block;
    float: left;
    width: 50%;

}
.credits{
    list-style-image: url(slap.png);

}
@media screen and (max-width: 1000px) {
  #homewrap {
    background-color: yellow;
  }
  body{
    font-size: 2em;
    width:100%;
  }
  
}