#navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 20px;

}

#lnk {
    float: left;
}
li a:visited { 
    color: red;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
    background-image: url(slap.png);
    background-repeat: no-repeat;
    background-position: 50%;   
}

#homewrap{
    background-image: url(background.jpg);
    background-size: 100% auto;
    background-color: white;
    background-repeat: no-repeat;
}
blockquote {
    font-size: 5em;
    color: white;
    opacity: .7;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -3px 0 #000,
      -1px 5px 0 #000,
       1px 1px 0 #000;
}
cite {
    font-size: 2em;
    color: red;
    opacity: .7;
    background-image: url(highlighter.png);
    background-size: 5em;
    background-repeat: no-repeat;
}
#bio {
    /*max-width: 950px;
    min-width: 380px;*/
    font-size: 1.5em;
    border-radius: 25px;
    width: 65%;
    /*padding: 2%;
    margin:2%;*/
}

#creditdiv{
    font-size: 2em;
}
@font-face {
    font-family: BebasNeue; 
    src: url(BebasNeue.otf); 
}
body {
    font-family: BebasNeue;
    background-color: yellow;
    /*max-width:1080px;
    min-width: 380px;*/
}
header{
    color: white;
    font-size: 2em;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -3px 0 #000,
      -1px 5px 0 #000,
       1px 1px 0 #000;
}

.vids{
    column-count: 3;
    float: left;
}

.credits{
    list-style-type: none;
    column-count: 3;
    column-gap: 10px;
}
li:hover{
    color: red;
}
form{
    border: dotted;
    color: white;
    width: 30%;
    border-radius: 5%;
    padding: 2%;
}
form:hover{
    color:red;
}
footer{
    font-family: "Times New Roman", Times, serif;
    font-size: .7em;
    text-align: center;
}
@media screen and (max-width: 1300px)
{
    .vids{column-count: 1}
}
@media screen and (max-width: 960px) {
  #homewrap {
    background-color: yellow;
  }
  .credits{
    column-count: 1;}
  body{
    font-size: 2em;
    width:50%;
  }
li{padding: 5px 5px;}
#bio{font-size: .85em}
#beatw{font-size: .65em
  }
#navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1; 
}
#lnk{float: none}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}
#bio{
    position: absolute;
    float: right;
}
 
}